<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>

  <label class="text_input">Email: 
    <input type="text" name="user[email]">
  </label>
  

  <label class="text_input">Password: 
    <input type="password" name="user[password]">
  </label>


  <input class="submit" type="submit" value="Sign Up!">

  <%= render "shared/error" %>

</form>