
<h1> Sign in page!</h1>

<form action="/session" method="POST">
  <label for="">Username</label>
  <input type="text" name = "user[username]">


  <label for="">Password</label>
  <input type="text" name = "user[password]">

  <input type="submit">
</form>


