

<h1>Form to create a user</h1>

<form action="<%=  users_url%>" method="POST">

  <label for="user[username]">Username
  <input type="text" name="user[username]">
  </label>
  <br>

  <label for="user[password]">Password
  <input type="password" name="user[password]">
  </label>
  <br>

  <input type="submit" value="Sign up!">


</form>

